.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 2rem;
    height: 4px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.socialMediaIcon {
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 10px;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navItem {
    margin-left: 3rem;
}

.navLink {
    font-size: 1.2rem;
    color: #ffffff;
}

.navLink:after {
    display: block;
    content: "";
    border-bottom: solid 3px #f18c52;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navLink:hover:after {
    transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
    .navMenu {
        position: fixed;
        padding: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        top: 5.5rem;
        flex-direction: column;
        min-width: 100vw;
        text-align: center;
        justify-content: center;
        transition: visibility 0s, opacity 0.3s;
        background-color: rgba(26, 26, 26, 0.98);
        z-index: 3;
    }

    .navbar.active {
        background-color: rgba(26, 26, 26, 0.98);
    }

    .socialMediaIcon {
        width: 1.6rem;
        height: 1.6rem;
        padding-right: 10px;
    }

    .navMenu.active {
        visibility: visible;
        opacity: 1;
    }

    .navItem {
        margin: 2.5rem 0;
    }

    .navLink {
        font-size: 1.7rem;
        color: #ffffff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
}
